# ╭───────────────────────────────────────────────────────────────────────────╮
# │ TOP LEVEL CONFIGURATION, SETTINGS, AND PARAMETERS                         │
# ╰───────────────────────────────────────────────────────────────────────────╯

parameters: default.iesopt.param.yaml

config:
  general:
    version:
      core: 2.9.1
    name:
      model: operational-planner
      scenario: default
    verbosity:
      core: warning
      progress: off
      solver: on
    performance:
      logfile: false
  optimization:
    problem_type: LP
    snapshots:
      weights: 0.25
    solver:
      name: highs
      log: false
  results:
    enabled: true
  paths:
    templates: templates/

carriers:
  electricity: {}  # kW  |  kWh
  # NOTE: costs are given in EUR

addons:
  BatterySoftMin:
    total_capacity: <battery_e>
    soc_min: <battery_soc_softmin>
    penalty: <battery_soc_softmin_penalty>

# ╭───────────────────────────────────────────────────────────────────────────╮
# │ ASSETS (COMPONENTS) DEFITIONS                                             │
# ╰───────────────────────────────────────────────────────────────────────────╯

components:
  
  # ------------------ MARKETS ------------------

  market_da_buy:
    type: Profile
    carrier: electricity
    node_to: grid_market
    mode: create
    cost: price@data + <self_consumption_penalty>

  market_da_sell:
    type: Profile
    carrier: electricity
    node_from: grid_market
    mode: destroy
    cost: (-1.0 * price@data) + <self_consumption_penalty>

  grid_market:
    type: Node
    carrier: electricity
  
  # ----------------- LOCATIONS -----------------

  bromberg:
    type: Bromberg
  
  brunn:
    type: Brunn
  
  kirchschlag:
    type: Kirchschlag
  
  # The following connect all locations to the market (where the self-consumption penalty is applied)
  metering_bromberg:
    type: Connection
    node_from: grid_market
    node_to: bromberg.grid_ext
  metering_brunn:
    type: Connection
    node_from: grid_market
    node_to: brunn.grid_ext
  metering_kirchschlag:
    type: Connection
    node_from: grid_market
    node_to: kirchschlag.grid_ext
